@page
@model ASP.NET_Assignment.Pages.PortalModel
@{
}

<partial name="Partials/Sections/_AddProjectForm" model="Model.AddProjectFormData" />
<partial name="Partials/Sections/_SignOut" model="Model.SignOutModel" />
<partial name="Partials/Sections/_EditAndDelete" model="Model.EditAndDeleteModel" />

<div class="portal-wrapper">
    <div class="container-side">
        <img src="/images/logo.svg" alt="Logo">
        <div class="folder">
            <i class="fa-solid fa-suitcase"></i>
            <p>Projects</p>
        </div>
    </div>
    <div class="container-main">
        <div class="top">
            <img src="/images/avatar.svg" alt="Avatar">
            <button id="log-out-button" type="button" data-modal="true" data-target="#signOutModal" data-close="true">
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
        <div class="overview">
            <div class="overview-top">
                <h1>Projects</h1>
                <button id="add-project-button" type="button" data-modal="true" data-target="#addProjectModal">+ Add Project</button>
            </div>
            <div class="overview-bottom">
                <button class="status-button" data-filter="all">ALL[@Model.AllCount]</button>
                <button class="status-button" data-filter="not yet started">NOT YET STARTED[@Model.NotStartedCount]</button>
                <button class="status-button" data-filter="started">STARTED[@Model.StartedCount]</button>
                <button class="status-button" data-filter="completed">COMPLETED[@Model.CompletedCount]</button>
            </div>
        </div>
        <div class="projects">
            @foreach (var project in Model.Projects)
            {
                <div class="project" data-project-id="@project.Id" data-status="@project.Status.StatusName.ToLower()">
                    <div class="project-header">
                        <img class="project-image" src="~/images/project.svg" alt="Project Image"/>
                        <h3 class="heading">@project.ProjectName</h3>
                        <p class="text">@project.Client.ClientName</p>
                        <button id="edit-button" type="button" data-modal="true" data-target="#editAndDeleteModal" data-close="true" class="edit-button" data-project-id="@project.Id">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                    </div>
                    <div class="project-content">
                        <p>@project.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("_ValidationScripts")
@await Html.PartialAsync("_ModalScripts")
